:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg: #fff6f6;
  --mainBlue: #61f2f5;
  --mainBlack: #0f0f0f;
  --mainGrey: #ccc;

  background: var(--bg);
  color: var(--mainBlack);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}
