:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg: #fff6f6;
  --mainBlue: #3c8ce7;
  --mainBlack: #0f0f0f;
  --mainGrey: #cccccc42;
  --mainWhite: #fff;

  background: var(--bg);
  color: var(--mainBlack);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** install fonts */
@font-face {
  font-family: Caveat-M;
  src: url(./fonts/Caveat-Medium.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--mainBlack);
  font-weight: 700;
  transition: all 0.4s linear;
  &:hover {
    opacity: 60%;
  }
}

button {
  border: none;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
}

body {
  width: clamp(1px, 90%, 1200px);
  min-height: 100vh;
  margin: auto;
  overflow-x: hidden;
}

/** Layout */
header {
  font-family: Caveat;
  font-size: 3em;
  text-transform: uppercase;
  color: var(--mainBlue);
  text-align: center;
}
footer {
  position: fixed;
  bottom: 0;
  padding: 5em 0.3rem 0;
  text-transform: capitalize;
}

/** Tasksform */
.add-task {
  background: var(--mainBlue);
  color: var(--mainWhite);
  font-size: 1.2em;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
}

/** task */
.task {
  display: flex;
  padding: 0.5rem 0.2rem;
  background: var(--mainGrey);
  border-radius: 5px;
  margin-top: 0.4rem;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2em;
  font-weight: 500;
}
.task-left {
  display: flex;
  input {
    margin: auto 0.3rem;
    width: 1.5em;
    height: 1.5em;
    accent-color: var(--mainBlue);
    cursor: pointer;
  }
  .checked {
    text-decoration: line-through 5px red;
  }
}
.task-buttons {
  display: flex;
  justify-content: center;
  svg {
    font-size: 2em;
    cursor: pointer;
  }
}
.delete-button {
  color: red;
}
.edit-button {
  color: orange;
}

/** modal */
.modal-box {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #00000082;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: var(--mainWhite);
  border-radius: 10px;
  padding: 1rem;

  h3 {
    text-transform: capitalize;
  }
}
.modal-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem 0 1rem;
  svg {
    font-size: 2em;
    cursor: pointer;
    color: red;
  }
}
.modal-form {
  input {
    width: 100%;
    display: block;
    padding: 0.5rem 1.2rem 0.5rem 0.4rem;
    font-size: 1em;
    &::placeholder {
      text-transform: capitalize;
    }
  }
  button {
    background: var(--mainBlue);
    padding: 0.6rem 1.2rem;
    margin: 0.4rem 0;
    color: var(--mainWhite);
    font-size: 1em;
  }
}

/** responsive */
/** x <= 540px (sm) */
@media only screen and (max-width: 540px) {
  /** Body */
  body {
    padding: 0 0.5rem;
  }
  /** Layout */
  header {
    font-size: 2em;
  }
  /** Tasksform */
  .add-task {
    margin: 0.4rem 0 0.6rem;
    font-size: 1em;
    width: 100%;
  }

  /** task */
  .task {
    font-size: 1em;
    font-weight: 400;
  }
  .task-left {
    input {
      width: 1.2em;
      height: 1.2em;
    }
  }
  .task-buttons {
    svg {
      font-size: 2em;
      margin-left: 0.3rem;
    }
  }
  /** Modal */
  .modal {
    width: 350px;
  }
  .modal-form {
    button {
      background: var(--mainBlue);
      width: 100%;
      margin: 1.2rem 0 0;
    }
  }
}

/* empty tasks */

.empty {
  background: #f2ebeb;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
}
